In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import re

<h2>Data Wrangling</h2>

In [2]:
data = pd.read_excel('QVI_transaction_data.xlsx')

In [3]:
data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt 175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [4]:
data.dtypes

DATE                int64
STORE_NBR           int64
LYLTY_CARD_NBR      int64
TXN_ID              int64
PROD_NBR            int64
PROD_NAME          object
PROD_QTY            int64
TOT_SALES         float64
dtype: object

<h2>Fixing the datatypes</h2>

In [1]:
data['DATE'] = pd.TimedeltaIndex(data['DATE'], unit='d') + dt.datetime(1899,12,30)

NameError: name 'pd' is not defined

In [6]:
data.dtypes

DATE              datetime64[ns]
STORE_NBR                  int64
LYLTY_CARD_NBR             int64
TXN_ID                     int64
PROD_NBR                   int64
PROD_NAME                 object
PROD_QTY                   int64
TOT_SALES                float64
dtype: object

<h2>Fixing the PROD_NAME column</h2>

In [7]:
product_names = data.PROD_NAME.unique()

In [8]:
product_names

array(['Natural Chip        Compny SeaSalt 175g',
       'CCs Nacho Cheese    175g',
       'Smiths Crinkle Cut  Chips Chicken 170g',
       'Smiths Chip Thinly  S/Cream&Onion 175g',
       'Kettle Tortilla ChpsHny&Jlpno Chili 150g',
       'Old El Paso Salsa   Dip Tomato Mild 300g',
       'Smiths Crinkle Chips Salt & Vinegar 330g',
       'Grain Waves         Sweet Chilli 210g',
       'Doritos Corn Chip Mexican Jalapeno 150g',
       'Grain Waves Sour    Cream&Chives 210G',
       'Kettle Sensations   Siracha Lime 150g',
       'Twisties Cheese     270g', 'WW Crinkle Cut      Chicken 175g',
       'Thins Chips Light&  Tangy 175g', 'CCs Original 175g',
       'Burger Rings 220g', 'NCC Sour Cream &    Garden Chives 175g',
       'Doritos Corn Chip Southern Chicken 150g',
       'Cheezels Cheese Box 125g', 'Smiths Crinkle      Original 330g',
       'Infzns Crn Crnchers Tangy Gcamole 110g',
       'Kettle Sea Salt     And Vinegar 175g',
       'Smiths Chip Thinly  Cut Original 175g', 'Kettle Original 175g',
       'Red Rock Deli Thai  Chilli&Lime 150g',
       'Pringles Sthrn FriedChicken 134g', 'Pringles Sweet&Spcy BBQ 134g',
       'Red Rock Deli SR    Salsa & Mzzrlla 150g',
       'Thins Chips         Originl saltd 175g',
       'Red Rock Deli Sp    Salt & Truffle 150G',
       'Smiths Thinly       Swt Chli&S/Cream175G', 'Kettle Chilli 175g',
       'Doritos Mexicana    170g',
       'Smiths Crinkle Cut  French OnionDip 150g',
       'Natural ChipCo      Hony Soy Chckn175g',
       'Dorito Corn Chp     Supreme 380g', 'Twisties Chicken270g',
       'Smiths Thinly Cut   Roast Chicken 175g',
       'Smiths Crinkle Cut  Tomato Salsa 150g',
       'Kettle Mozzarella   Basil & Pesto 175g',
       'Infuzions Thai SweetChili PotatoMix 110g',
       'Kettle Sensations   Camembert & Fig 150g',
       'Smith Crinkle Cut   Mac N Cheese 150g',
       'Kettle Honey Soy    Chicken 175g',
       'Thins Chips Seasonedchicken 175g',
       'Smiths Crinkle Cut  Salt & Vinegar 170g',
       'Infuzions BBQ Rib   Prawn Crackers 110g',
       'GrnWves Plus Btroot & Chilli Jam 180g',
       'Tyrrells Crisps     Lightly Salted 165g',
       'Kettle Sweet Chilli And Sour Cream 175g',
       'Doritos Salsa       Medium 300g', 'Kettle 135g Swt Pot Sea Salt',
       'Pringles SourCream  Onion 134g',
       'Doritos Corn Chips  Original 170g',
       'Twisties Cheese     Burger 250g',
       'Old El Paso Salsa   Dip Chnky Tom Ht300g',
       'Cobs Popd Swt/Chlli &Sr/Cream Chips 110g',
       'Woolworths Mild     Salsa 300g',
       'Natural Chip Co     Tmato Hrb&Spce 175g',
       'Smiths Crinkle Cut  Chips Original 170g',
       'Cobs Popd Sea Salt  Chips 110g',
       'Smiths Crinkle Cut  Chips Chs&Onion170g',
       'French Fries Potato Chips 175g',
       'Old El Paso Salsa   Dip Tomato Med 300g',
       'Doritos Corn Chips  Cheese Supreme 170g',
       'Pringles Original   Crisps 134g',
       'RRD Chilli&         Coconut 150g',
       'WW Original Corn    Chips 200g',
       'Thins Potato Chips  Hot & Spicy 175g',
       'Cobs Popd Sour Crm  &Chives Chips 110g',
       'Smiths Crnkle Chip  Orgnl Big Bag 380g',
       'Doritos Corn Chips  Nacho Cheese 170g',
       'Kettle Sensations   BBQ&Maple 150g',
       'WW D/Style Chip     Sea Salt 200g',
       'Pringles Chicken    Salt Crips 134g',
       'WW Original Stacked Chips 160g',
       'Smiths Chip Thinly  CutSalt/Vinegr175g', 'Cheezels Cheese 330g',
       'Tostitos Lightly    Salted 175g',
       'Thins Chips Salt &  Vinegar 175g',
       'Smiths Crinkle Cut  Chips Barbecue 170g', 'Cheetos Puffs 165g',
       'RRD Sweet Chilli &  Sour Cream 165g',
       'WW Crinkle Cut      Original 175g',
       'Tostitos Splash Of  Lime 175g', 'Woolworths Medium   Salsa 300g',
       'Kettle Tortilla ChpsBtroot&Ricotta 150g',
       'CCs Tasty Cheese    175g', 'Woolworths Cheese   Rings 190g',
       'Tostitos Smoked     Chipotle 175g', 'Pringles Barbeque   134g',
       'WW Supreme Cheese   Corn Chips 200g',
       'Pringles Mystery    Flavour 134g',
       'Tyrrells Crisps     Ched & Chives 165g',
       'Snbts Whlgrn Crisps Cheddr&Mstrd 90g',
       'Cheetos Chs & Bacon Balls 190g', 'Pringles Slt Vingar 134g',
       'Infuzions SourCream&Herbs Veg Strws 110g',
       'Kettle Tortilla ChpsFeta&Garlic 150g',
       'Natural Chip        Compny SeaSalt175g',
       'Infuzions Mango     Chutny Papadums 70g',
       'RRD Steak &         Chimuchurri 150g',
       'RRD Honey Soy       Chicken 165g',
       'Sunbites Whlegrn    Crisps Frch/Onin 90g',
       'RRD Salt & Vinegar  165g', 'Doritos Cheese      Supreme 330g',
       'Smiths Crinkle Cut  Snag&Sauce 150g',
       'WW Sour Cream &OnionStacked Chips 160g',
       'RRD Lime & Pepper   165g',
       'Natural ChipCo Sea  Salt & Vinegr 175g',
       'Red Rock Deli Chikn&Garlic Aioli 150g',
       'RRD SR Slow Rst     Pork Belly 150g', 'RRD Pc Sea Salt     165g',
       'Smith Crinkle Cut   Bolognese 150g', 'Doritos Salsa Mild  300g'],
      dtype=object)

In [9]:
df = data['PROD_NAME'].map(lambda x: re.sub(r'\W+[0-9]+g', ' ', x))

In [10]:
product_names = pd.Series(df.unique())

In [11]:
product_names.value_counts()

Woolworths Mild     Salsa                   1
Smiths Crinkle Cut  Chips Original          1
WW Crinkle Cut      Chicken                 1
Kettle Tortilla ChpsHny&Jlpno Chili         1
Sunbites Whlegrn    Crisps Frch/Onin        1
                                           ..
RRD Sweet Chilli &  Sour Cream              1
Pringles Sweet&Spcy BBQ                     1
Natural ChipCo      Hony Soy Chckn175g      1
Old El Paso Salsa   Dip Chnky Tom Ht300g    1
Smiths Crinkle      Original                1
Length: 115, dtype: int64

In [12]:
counts = dict()
for i in range(len(product_names)):
  words = product_names[i]
  for word in words.split(' '):
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

In [13]:
counts

{'Natural': 5,
 'Chip': 10,
 '': 324,
 'Compny': 2,
 'SeaSalt': 1,
 'CCs': 3,
 'Nacho': 2,
 'Cheese': 12,
 'Smiths': 16,
 'Crinkle': 14,
 'Cut': 14,
 'Chips': 21,
 'Chicken': 7,
 'Thinly': 5,
 'S/Cream&Onion': 1,
 'Kettle': 13,
 'Tortilla': 3,
 'ChpsHny&Jlpno': 1,
 'Chili': 1,
 'Old': 3,
 'El': 3,
 'Paso': 3,
 'Salsa': 9,
 'Dip': 3,
 'Tomato': 3,
 'Mild': 3,
 'Salt': 12,
 '&': 17,
 'Vinegar': 5,
 'Grain': 2,
 'Waves': 2,
 'Sweet': 3,
 'Chilli': 5,
 'Doritos': 9,
 'Corn': 8,
 'Mexican': 1,
 'Jalapeno': 1,
 'Sour': 6,
 'Cream&Chives': 1,
 '210G': 1,
 'Sensations': 3,
 'Siracha': 1,
 'Lime': 3,
 'Twisties': 3,
 'WW': 7,
 'Thins': 5,
 'Light&': 1,
 'Tangy': 2,
 'Original': 10,
 'Burger': 2,
 'Rings': 2,
 'NCC': 1,
 'Cream': 4,
 'Garden': 1,
 'Chives': 2,
 'Southern': 1,
 'Cheezels': 2,
 'Box': 1,
 'Infzns': 1,
 'Crn': 1,
 'Crnchers': 1,
 'Gcamole': 1,
 'Sea': 6,
 'And': 2,
 'Red': 4,
 'Rock': 4,
 'Deli': 4,
 'Thai': 2,
 'Chilli&Lime': 1,
 'Pringles': 8,
 'Sthrn': 1,
 'FriedChicken': 1,
 'Sweet&Spcy': 1,
 'BBQ': 2,
 'SR': 2,
 'Mzzrlla': 1,
 'Originl': 1,
 'saltd': 1,
 'Sp': 1,
 'Truffle': 1,
 '150G': 1,
 'Swt': 2,
 'Chli&S/Cream175G': 1,
 'Mexicana': 1,
 'French': 2,
 'OnionDip': 1,
 'ChipCo': 2,
 'Hony': 1,
 'Soy': 3,
 'Chckn175g': 1,
 'Dorito': 1,
 'Chp': 1,
 'Supreme': 4,
 'Chicken270g': 1,
 'Roast': 1,
 'Mozzarella': 1,
 'Basil': 1,
 'Pesto': 1,
 'Infuzions': 4,
 'SweetChili': 1,
 'PotatoMix': 1,
 'Camembert': 1,
 'Fig': 1,
 'Smith': 2,
 'Mac': 1,
 'N': 1,
 'Honey': 2,
 'Seasonedchicken': 1,
 'Rib': 1,
 'Prawn': 1,
 'Crackers': 1,
 'GrnWves': 1,
 'Plus': 1,
 'Btroot': 1,
 'Jam': 1,
 'Tyrrells': 2,
 'Crisps': 5,
 'Lightly': 2,
 'Salted': 2,
 'Medium': 2,
 'Pot': 1,
 'SourCream': 1,
 'Onion': 1,
 'Chnky': 1,
 'Tom': 1,
 'Ht300g': 1,
 'Cobs': 3,
 'Popd': 3,
 'Swt/Chlli': 1,
 '&Sr/Cream': 1,
 'Woolworths': 3,
 'Co': 1,
 'Tmato': 1,
 'Hrb&Spce': 1,
 'Chs&Onion170g': 1,
 'Fries': 1,
 'Potato': 2,
 'Med': 1,
 'RRD': 8,
 'Chilli&': 1,
 'Coconut': 1,
 'Hot': 1,
 'Spicy': 1,
 'Crm': 1,
 '&Chives': 1,
 'Crnkle': 1,
 'Orgnl': 1,
 'Big': 1,
 'Bag': 1,
 'BBQ&Maple': 1,
 'D/Style': 1,
 'Crips': 1,
 'Stacked': 1,
 'CutSalt/Vinegr175g': 1,
 'Tostitos': 3,
 'Barbecue': 1,
 'Cheetos': 2,
 'Puffs': 1,
 'Splash': 1,
 'Of': 1,
 'ChpsBtroot&Ricotta': 1,
 'Tasty': 1,
 'Smoked': 1,
 'Chipotle': 1,
 'Barbeque': 1,
 'Mystery': 1,
 'Flavour': 1,
 'Ched': 1,
 'Snbts': 1,
 'Whlgrn': 1,
 'Cheddr&Mstrd': 1,
 'Chs': 1,
 'Bacon': 1,
 'Balls': 1,
 'Slt': 1,
 'Vingar': 1,
 'SourCream&Herbs': 1,
 'Veg': 1,
 'Strws': 1,
 'ChpsFeta&Garlic': 1,
 'SeaSalt175g': 1,
 'Mango': 1,
 'Chutny': 1,
 'Papadums': 1,
 'Steak': 1,
 'Chimuchurri': 1,
 'Sunbites': 1,
 'Whlegrn': 1,
 'Frch/Onin': 1,
 'Snag&Sauce': 1,
 '&OnionStacked': 1,
 'Pepper': 1,
 'Vinegr': 1,
 'Chikn&Garlic': 1,
 'Aioli': 1,
 'Slow': 1,
 'Rst': 1,
 'Pork': 1,
 'Belly': 1,
 'Pc': 1,
 'Bolognese': 1}

<h2>Filtering out salsa products</h2>

In [14]:
df.str.contains("Salsa")

0         False
1         False
2         False
3         False
4         False
          ...
264831    False
264832    False
264833    False
264834    False
264835    False
Name: PROD_NAME, Length: 264836, dtype: bool

In [15]:
df.str.contains("Salsa").value_counts()

False    246742
True      18094
Name: PROD_NAME, dtype: int64

In [16]:
filter = df.str.contains("Salsa")

In [17]:
filtered_data = data[~filter]

In [18]:
filtered_data

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt 175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

<h2>Checking data quality</h2>

In [20]:
filtered_data.isnull().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [21]:
filtered_data.describe()

,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES
count,246742.000000,2.467420e+05,2.467420e+05,246742.000000,246742.000000,246742.000000
mean,135.051098,1.355310e+05,1.351311e+05,56.351789,1.908062,7.321322
std,76.787096,8.071528e+04,7.814772e+04,33.695428,0.659831,3.077828
min,1.000000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.700000
25%,70.000000,7.001500e+04,6.756925e+04,26.000000,2.000000,5.800000
50%,130.000000,1.303670e+05,1.351830e+05,53.000000,2.000000,7.400000
75%,203.000000,2.030840e+05,2.026538e+05,87.000000,2.000000,8.800000
max,272.000000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000

<h2>Checking the PROD_QTY column which shows a max of 200</h2>

In [23]:
filtered_data.loc[filtered_data.PROD_QTY==200]

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
69762,2018-08-19,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0
69763,2019-05-20,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0

<h2>Filtering the data for this customer as it could be a commercial buyer</h2>

In [38]:
commercial_filtered = filtered_data[~(filtered_data.LYLTY_CARD_NBR == 226000)]

In [39]:
commerical_filtered.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt 175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [40]:
commercial_filtered.to_excel('Final_data.xlsx')

In [41]:
len(commercial_filtered)

246740

<h2>Inspecting the date values</h2>

In [43]:
Refer_col = pd.date_range(start='2018-07-01', end='2019-06-30')

In [46]:
grouped_data = commerical_filtered.groupby(pd.Grouper(key='DATE',freq='D')).count()

In [47]:
grouped_data['REF_DATE'] = Refer_col

<h3>THe count for missing dates should be zero</h3>

In [52]:
grouped_data[grouped_data.TOT_SALES==0]

,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,REF_DATE
DATE,,,,,,,,
2018-12-25,0,0,0,0,0,0,0,2018-12-25

In [49]:
grouped_data.to_excel('date_checl.xlsx')

<h1> Merging the data and splitting the PROD_NAME column into brands and size is done using Tableau.</h1>